<div data-role="view" data-title="Buscar" data-layout="main" data-model="app.buscar" data-show="app.buscar.onShow" data-after-show="app.buscar.afterShow">
    <div id="buscarModel" class="form-view">
        <div class="imagenpagina">
            <img src="img/lupa.png">
            <h2>Registro de clientes</h2>
        </div>
        <form class="formulario">
            <ul class="form-content" data-role="listview" data-style="inset">
                <li>
                    <label>Documento
                        <select data-bind="value: buscarModel.fields.busdocumento" data-role="dropdownlist">
                            <option value="First Option" selected>DNI</option>
                            <option value="Second Option">Carnet de extranjería</option>
                            <option value="Third Option">Libreta militar</option>
                        </select>
                    </label>
                </li>
                <li>
                    <label>Número
                        <input data-bind="value: buscarModel.fields.busnumero" type="text">
                    </label>
                </li>
            </ul>
            <div class="button-group">
                <a class="btn borde" data-role="button" data-bind="events: { click: buscarModel.cancel }">Cancelar</a>
                <a class="primary btn btn-default azul borde" data-role="button" data-bind="events: { click: buscarModel.submit }">Aceptar</a>
            </div>
        </form>
        <!-- START_CUSTOM_CODE_buscarModel -->
        <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
        <!-- END_CUSTOM_CODE_buscarModel -->
    </div>
    <div class="pie"><img src="img/dis_amarillo.png"></div>
    <!-- START_CUSTOM_CODE_buscar -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <!-- END_CUSTOM_CODE_buscar -->
</div>
