<div data-role="view" data-title="Llamado Externo" data-layout="main" data-model="app.externo" data-show="app.externo.onShow" data-after-show="app.externo.afterShow">
    <div id="externoModel" class="form-view">
        <div class="imagenpagina">
            <img src="img/lupa.png">
            <h2>Ejemplo de llamada externa que abrirá Gmail</h2>
        </div>
        <form class="formulario">
            
            <div class="button-group">
                <a class="primary btn btn-default azul borde" data-role="button" data-bind="events: { click: externoModel.submit }" onclick='navigator.startApp.start("com.google.android.gm", function(message) {  /* success */
    console.log(message); // => OK
}, 
function(error) { /* error */
    console.log(error);
});'>Abrir Gmail</a>
            </div>
        </form>
        <!-- START_CUSTOM_CODE_buscarModel -->
        <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
        <!-- END_CUSTOM_CODE_buscarModel -->
    </div>
    <div class="pie"><img src="img/dis_amarillo.png"></div>
    <!-- START_CUSTOM_CODE_buscar -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <!-- END_CUSTOM_CODE_buscar -->
</div>
