<div data-role="view" data-title="Inicio" data-layout="inicio" data-model="app.home" data-show="app.home.onShow" data-after-show="app.home.afterShow">
    <!-- START_CUSTOM_CODE_home -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <!-- END_CUSTOM_CODE_home -->
    <div id="fondoinicio">
        <img src="img/imagen-de-ingreso.png" style="width:100%" />
    </div>
    <div id="inicio">

        <form class="formulario form-group">
            <ul class="form-content" data-role="listview" data-style="inset">
                <li class="col-xs-8 col-xs-offset-2">
                    <label>Usuario
                        <input data-bind="value: homeModel.fields.usuario" type="text">
                    </label>
                </li>
                <li class="col-xs-8 col-xs-offset-2">
                    <label>Contraseña
                        <input data-bind="value: homeModel.fields.contrasena" type="password">
                    </label>
                </li>
            </ul>
            <div class="col-xs-8 col-xs-offset-2 boton">
                <button type="button" data-bind="events: { click: homeModel.sesion }" class="btn btn-default col-xs-8 col-xs-offset-2 azul borde">Aceptar</button>
            </div>
        </form>
    </div>
</div>