<div data-role="view" data-title="Registro" data-layout="main" data-model="app.registro" data-show="app.registro.onShow" data-after-show="app.registro.afterShow">
    <div id="registroModel" class="form-view">
        <div class="col-xs-10 col-xs-offset-1 titulo">
            <h1 class="amarillo">¡Hola!</h1>
            <h2 class="azul">¡Cuéntanos más de ti!</h2>
        </div>
        <form class="formulario form-group">
            <ul class="form-content" data-role="listview" data-style="inset">
                <li>
                    <label>Nombres
                        <input data-bind="value: registroModel.fields.nombres" type="text">
                    </label>
                </li>
                <li>
                    <label>Apellidos
                        <input data-bind="value: registroModel.fields.apellidos" type="text">
                    </label>
                </li>
                <li>
                    <label>Fecha de nacimiento
                        <input data-bind="value: registroModel.fields.nacimiento" type="date">
                    </label>
                </li>
                <li>
                    <label>Teléfono
                        <input data-bind="value: registroModel.fields.telefono" placeholder="+123 444 555 666" type="tel">
                    </label>
                </li>
                <li>
                    <label>Celular
                        <input data-bind="value: registroModel.fields.celular" placeholder="+123 444 555 666" type="tel">
                    </label>
                </li>
                <li>
                    <label>Correo
                        <input data-bind="value: registroModel.fields.correo" placeholder="example@example.com" type="email">
                    </label>
                </li>
                <li>
                    <label>Documento
                        <select data-bind="value: registroModel.fields.documento" data-role="dropdownlist">
                            <option value="First Option">First Option</option>
                            <option value="Second Option">Second Option</option>
                            <option value="Third Option">Third Option</option>
                        </select>
                    </label>
                </li>
                <li>
                    <a onclick='cordova.plugins.barcodeScanner.scan(

    // success callback function
    function (result) {
        // wrapping in a timeout so the dialog doesnt free the app
        setTimeout(function() {
            /*alert("We got a barcode\n" +
                  "Result: " + result.text + "\n" +
                  "Format: " + result.format + "\n" +
                  "Cancelled: " + result.cancelled); */
            $("#numDoc").val(result.text);
        }, 0);
    },

    // error callback function
    function (error) {
        alert("Scanning failed: " + error);
    },

    // options object
    {
        "preferFrontCamera" : false,
        "showFlipCameraButton" : true
    });'>
                        <label>Número
                            <input data-bind="value: registroModel.fields.numero" id="numDoc" type="number">
                        </label>
                    </a>
                </li>
                <li>
                    <label>Género
                        <select data-bind="value: registroModel.fields.genero" data-role="dropdownlist">
                            <option value="First Option">First Option</option>
                            <option value="Second Option">Second Option</option>
                            <option value="Third Option">Third Option</option>
                        </select>
                    </label>
                </li>
                <li>
                    <label>Dirección
                        <input data-bind="value: registroModel.fields.direccion" type="text">
                    </label>
                </li>
                <li>
                    <label>Departamento
                        <select data-bind="value: registroModel.fields.departamento" data-role="dropdownlist">
                            <option value="First Option" selected>First Option</option>
                            <option value="Second Option">Second Option</option>
                            <option value="Third Option">Third Option</option>
                        </select>
                    </label>
                </li>
                <li>
                    <label>Provincia
                        <select data-bind="value: registroModel.fields.provincia" data-role="dropdownlist">
                            <option value="First Option">First Option</option>
                            <option value="Second Option">Second Option</option>
                            <option value="Third Option">Third Option</option>
                        </select>
                    </label>
                </li>
                <li>
                    <label>Distrito
                        <select data-bind="value: registroModel.fields.distrito" data-role="dropdownlist">
                            <option value="First Option">First Option</option>
                            <option value="Second Option">Second Option</option>
                            <option value="Third Option">Third Option</option>
                        </select>
                    </label>
                </li>
                <!--                 <li>
                    <label>Referencia
                        <input data-bind="value: registroModel.fields.referencia" type="text">
                    </label>
                </li> -->
                <li>
                    <a href="components/localizacion/view.html">
                        <label>Referencia
                            <input id="referenciaLocalizacion" type="text">
                        </label>
                    </a>
                </li>
                <li>
                    <a onclick='cordova.plugins.barcodeScanner.scan(

    // success callback function
    function (result) {
        // wrapping in a timeout so the dialog doesnt free the app
        setTimeout(function() {
            /*alert("We got a barcode\n" +
                  "Result: " + result.text + "\n" +
                  "Format: " + result.format + "\n" +
                  "Cancelled: " + result.cancelled); */
            $("#numTar").val(result.text);
        }, 0);
    },

    // error callback function
    function (error) {
        alert("Scanning failed: " + error);
    },

    // options object
    {
        "preferFrontCamera" : false,
        "showFlipCameraButton" : true
    });'>
                        <label>Tarjeta nueva
                            <input data-bind="value: registroModel.fields.tarjeta" id="numTar" type="number">
                        </label>
                    </a>
                </li>
                <li>
                    <label>Recibo de compra
                        <input data-bind="value: registroModel.fields.recibo" type="number">
                    </label>
                </li>
                <li>
                    <label>Términos y condiciones
                        <img src="img/pdf.png" class="col-xs-3 col-xs-offset-3">
                        <input data-bind="value: registroModel.fields.condiciones" class="caja col-xs-4 col-xs-offset-2" type="checkbox">
                    </label>
                </li>
                <!--                 <li>
                    <label>Firma
                        <input data-bind="value: registroModel.fields.firma" type="text">
                    </label>
                </li> -->
                <li>
                    <a href="components/firma/view.html">
                        <label>Firma
                            <input id="inputFirma" type="text">
                        </label>
                    </a>
                </li>
            </ul>
            <div class="button-group boton">
                <a class="btn borde" data-role="button" data-bind="events: { click: registroModel.cancel }">Cancelar</a>
                <a class="primary btn btn-default azul borde" data-role="button" data-bind="events: { click: registroModel.submit }">Guardar</a>
            </div>
        </form>
        <!-- START_CUSTOM_CODE_registroModel -->
        <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
        <!-- END_CUSTOM_CODE_registroModel -->
    </div>
    <div class="pie2"><img src="img/dis_amarillo.png">
    </div>
    <!-- START_CUSTOM_CODE_registro -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <!-- END_CUSTOM_CODE_registro -->
</div>