<div data-role="view" data-title="Video de capacitación" data-layout="inicio" data-model="app.home" data-show="app.home.onShow" data-after-show="app.home.afterShow">
    <!-- START_CUSTOM_CODE_home -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <!-- END_CUSTOM_CODE_home -->

    <div id="inicio">
        <h2 class="amarillo">Bonus</h2>
		<h1 class="azul">Video de Capacitación</h1>
        <form class="formulario form-group col-xs-12">
            <div class="col-xs-8 col-xs-offset-2">
                <a data-role="button" data-bind="events: { click: homeModel.sesion }" class="primary btn btn-default col-xs-8 col-xs-offset-2">Reproducir</a>
            </div>
        </form>
    </div>
</div>